<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header :: headContent}"></head>
  <body
    style="
      background-color: #f8f9fa;
      font-family: 'Poppins', sans-serif;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <div
      class="card shadow border-0 p-5"
      style="width: 450px; border-radius: 20px"
    >
      <h2 class="fw-bold mb-2 text-center">Sign Up</h2>
      <p class="text-center text-muted mb-4">Create your student account</p>

      <!-- Error Message -->
      <div
        th:if="${param.error}"
        class="alert alert-danger text-center p-2 small"
      >
        Username already exists. Try another.
      </div>

      <form action="/register" method="post">
        <div class="mb-3">
          <label class="form-label fw-bold">Username</label>
          <input
            type="text"
            name="username"
            class="form-control p-3 rounded-3"
            placeholder="Choose a username"
            required
          />
        </div>

        <div class="mb-4">
          <label class="form-label fw-bold">Password</label>
          <input
            type="password"
            name="password"
            class="form-control p-3 rounded-3"
            placeholder="Create a password"
            required
          />
        </div>

        <button
          type="submit"
          class="btn text-white w-100 p-3 rounded-pill fw-bold"
          style="background-color: #6baa95"
        >
          Register
        </button>

        <div class="text-center mt-4">
          <span class="text-muted">Already have an account? </span>
          <a
            href="/login"
            class="text-decoration-none fw-bold"
            style="color: #d35400"
            >Login here</a
          >
        </div>
      </form>
    </div>
  </body>
</html>
